.liste-logements {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 60px;
  padding: 55px 50px;
}

@media screen and (max-width: 1490px) {
  .Accueil > .banniere {
    height: 110px;
    margin-bottom: 20px;
  }

  .liste-logements {
    grid-template-columns: 1fr;
    background-color: unset;
    gap: 20px 0;
    padding: 0;
  }
}
